<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check Data</title>
    <link rel="stylesheet" type="text/css" href="/css/noDatafound.css">
</head>
<body>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/weatherI.png" alt="Card Image">
                    <h2>City Not Found</h2>
                    <p>Sorry, please correct city name.</p>
                    <a href="/">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>